/Maths_methods/nbproject/private/
/Maths_methods/dist/
/Maths_methods/build/
/MCM_MCD/dist/
/JavaApplication5/nbproject/private/
/Ejercicio1ABD/nbproject/private/
/Ejercicio1ABD/build/
/calculadoraBackend/nbproject/private/
/calculadoraBackend/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/