/Maths_methods/nbproject/private/
/Maths_methods/dist/
/Maths_methods/build/
/MCM_MCD/dist/
/JavaApplication5/nbproject/private/
/Ejercicio1ABD/nbproject/private/
/Ejercicio1ABD/build/
/calculadoraBackend/nbproject/private/
/calculadoraBackend/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/calculadoraFrontend/nbproject/private/
/calculadoraFrontend/build/
/calculadoraFrontend/dist/
/Ejercicio8_HojaRepaso_AAD/nbproject/private/
/Ejercicio8_HojaRepaso_AAD/build/
/EJercicio_1_HoraRepaso_AAD/nbproject/private/
/EJercicio_1_HoraRepaso_AAD/build/
/EjerciciosRepasoBinario/nbproject/private/
/EjerciciosRepasoBinario/build/
/EjerciciosRepasoSerializable/nbproject/private/
/EjerciciosRepasoSerializable/build/
/EjerciciosRepasoSerializable/dist/
/EjerciciosAccesoDirecto/nbproject/private/
/EjerciciosAccesoDirecto/build/
/EjerciciosAccesoDatosXML/nbproject/private/
/EjerciciosAccesoDatosXML/build/
/ejercicioBorja/dist/
/Collatz/nbproject/private/
/Collatz/build/
/cursoInvierno/nbproject/private/
/repasoNavidad/nbproject/private/
/repasoNavidad/build/
/BBDD/nbproject/private/
/BBDD/build/
/Ejercicio5/nbproject/private/
/Ejercicio5/build/
/HYBERNATE/nbproject/private/
/hybernet/nbproject/private/
/hybernet/build/
/tuputamadre/nbproject/private/
/tuputamadre/build/